/* Registration page */
.registration-wrap {
	text-align: center;
  }
  
  .registration-section {
	margin-top: 15vw;
	display: inline-grid;
	justify-content: center;
	gap: 18px;
	padding: 12px 20px 40px 18px;
	border-radius: 15px;
	box-shadow: 0 5px 10px 0px rgb(0 0 0 / 25%);
  }
  
  .registration-header {
	color: #4F4F4F;
	padding: 0px;
	font-weight: bold;
	text-shadow: rgb(70, 70, 71) 2px 3px 7px;
	text-align: center;
	font-size: 25px;
  }
  
  .registration-form {
	gap: 8px;
	display: grid;
	place-items: center;
	text-align: center;
  }
  
  .form-element {
	display: inherit;
	min-height: 80px;
	width: 300px;
	margin: auto;
  }
  
  .error-notification {
	margin: 0 0 0 0;
  color: #d45252;
	font-size: 15px; 
  }
  
  label {
	font-size: 16px; 
	font-weight: bold;
  }
  
  input {
	justify-self: center;
	color: #383838;
	border: 1px solid #a7a5a5;
	border-radius: 5px;
	padding: 2px 6px;
	font-size: 14px; 
	margin-top: 4px;
	margin-bottom: 6px;
	width: 250px;
	height: 26px;
  }
  
  input[type="submit"] {
	margin: 0px;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	border: 1px solid #4CAF50;
	background: transparent;
	color: rgb(51, 51, 51);
	transition: all 0.1s ease 0s;
	font-weight: 700;
	font-size: 18px;
	font-weight: bold;
	width: max-content;
	height: auto;
  }
  
  input[type="submit"]:hover {
	border: 1px solid transparent;
	background: #4CAF50;
	color: rgb(148, 147, 147);
  }
  
  input:focus {
	outline: none !important;
	border:1px solid #6e6e6e;
	box-shadow: 0 0 6px #383838;
  }

  /*Login In Page*/

  .login-wrap {
    text-align: center;
  }
  
  .login-section {
    margin-top: 15vw;
    display: inline-grid;
    justify-content: center;
    gap: 18px;
    padding: 12px 20px 40px 18px;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0px rgb(0 0 0 / 25%);
  }
  
  .login-header {
    color: #4F4F4F;
    padding: 0px;
    text-shadow: #779 2px 3px 7px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;  
  }
  
  .login-form {
    gap: 8px;
    display: grid;
    place-items: center;
    text-align: center;
  }
  
  .form-element {
    display: inherit;
    height: 80px;
    width: 300px;
    margin: auto;
  }
  
  label {
    font-size: 16px; 
    font-weight: bold;
  }
  
  .error-notification {
    margin: 0 0 0 0;
    color: #d45252;
    font-size: 15px; 
  }
  
  input {
    justify-self: center;
    color: #383838;
    border: 1px solid #7f7f7f;
    border-radius: 5px;
    padding: 2px 6px;
    margin-top: 4px;
    margin-bottom: 6px;
    font-size: 18px;
  
    width: 250px;
    height: 26px;
  }
  
  input[type="submit"] {
    font-weight: 700;
    font-size: 18px;
  
    margin: 0px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #4CAF50;
    background: transparent;
    color: rgb(156, 160, 222);
    transition: all 0.1s ease 0s;
  
    width: max-content;
    height: auto;
  }
  
  input[type="submit"]:hover {
    border: 1px solid transparent;
    background: #4CAF50;
    color: rgb(140, 139, 139);
  }
  
  input:focus {
    outline: none !important;
    border:1px solid #929191;
    box-shadow: 0 0 6px #4a4a4a;
  }
  