* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #b4b9e6;
    max-width: 100%;
    max-height: 100%;
  }
  
  h1 {
    margin: 20;
    font-size: 60px;
    color: rgb(54, 53, 53);
    display: inline-block;
    padding: 50px;
  }
  
  .main-template {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 30%;
    width: 100%;
  }
  
  #main_text {
    border: solid rgb(111, 110, 110) 3px;
    background-color: #b4b9e6;
    margin: 10px;
  }
  
  h2 {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 10px;
    line-height: 25px;
    font-weight: 600;
  }
  
  blockquote{
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 10px;
    line-height: 20px;
    font-weight: 600;
  }
  
  /*Errors*/
  
  .error-center {
    border: solid rgb(168, 166, 166) 3px;
    background-color: #b4b9e6;
    padding: 20px;
    margin-left: 20vw;
    margin-right: 20vw;
  }
  
  .error_p {
    font-size: 20px;
    text-align: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  #error_code, #error_message {
    line-height: 25px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  .error_button {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  /*Headers*/
  
  .main-title {
   /*border-bottom: solid rgb(151, 151, 151) 3px;*/
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
    
  }
  
  h5 {
    text-align: center;
    font-size: 300;
    font-size: 20px;
  }
  
  .main-a {
    text-decoration: underline;
    font-size: 20px;
    font-weight: 250;
    text-decoration-color: black;
    color: black;
  }
  
 /* .break-line {
    border-bottom: solid 2px rgb(250, 248, 248);
  }*/
  
  h6 {
  text-align: center;
  }
  
  .main-posts {
  text-align: center;
  }
  
  .navigation_form {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: fit-content;
    margin-left: 20%;
    padding-top: 10px;
    overflow: auto;
  }
  
  .col-8{
    display: flex;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    margin-top: 25px;
  }

  /* #header-buttons {
    display: flex;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    margin-top: 10;
  } */
  
  #login-button {
    padding-right: 10px;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    margin: 50%, 10%, 10%, 10%;
  }
  
  #logout-button {
    padding-right: 10px;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
  }
  
  #loggedin-buttons {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
  }
  
  a {
    background-color: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  
  .form-control {
    display: inline-block;
    margin: 0.1vw;
    padding: 0;
    width: 15vw;
    height: 2vw;
    font-size: 1vw;
  }
  
  .form-label {
    color:rgb(5, 5, 5);
    margin: 0.1vw;
    text-align: center;
    font-size: 20px;
  }
  
  ul {
    margin-left: 20%;
    list-style-type: none;
  }
    
  li {
    text-decoration: none;
    padding: 10px;
    float: right;
    color: white;
    text-decoration: none;
  }
    
  li a {
    text-decoration: none;
    display: inline-block;
    color: white;
    text-align: center;
    padding-right: 10px;
    text-decoration: none;
  }
  
  /*Categories*/
  
  .category {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
    padding: 10px;
  }
  
  .category-list {
    float: left;
    padding: 10px;
    line-height: 25px;
    font-size: 20px;
  }
  
  .list-group {
    margin-top: 15px;
    max-width: 350px;
    max-height: 220px;
    overflow: auto;
    display: grid;
  }
  
  .content {
    display: flex;
    align-items: center;
    border-left: 1px solid #dfdfdf;
    height: 230px;
    width: 650px;
  }
  
  #content{
    display: inline-flex;
    align-items: center;
    width: 650px;
    height: 180px;
    gap: 15px;
  }
  
  .tab-content {
    text-align: justify;
    font-size: 20px;
    align-items: center;
    width: 700px;
    height: 190px;
    background-color: #dfdfdf;
    border: sold 2px rgb(239, 238, 238);
  }
  
  /*Footer*/
  
  footer {
    color: white;
    position: fixed;
    bottom: 0;
    width: fit-content;
    margin: 5px;
    /*border: solid black 2px;*/
    overflow: hidden;
    overflow-x: hidden;
  }
    
  .footer-p {
    margin: 10px;
    font-size: 20px;
  }
  