/*Add/Make Post section*/

.post-section {
    width: fit-content;
    height: fit-content;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: solid black 2px;
}
  
.post-form-title {
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 25px;
    padding: 10.5px;
    justify-content: center;
    border-bottom: solid 1px black;
}

.title {
    border-bottom: solid black 1px;
    width: 100%;
}
  
.post-form-label {
    text-align: center;
    line-height: 15px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
  
.input-group {
    padding: 10px;
    overflow: auto;
    margin-top: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}
  
#content {
    font-size: 15px;
    margin: 10px;
    padding: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
}
  
p {
    padding: 3.5px;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-self: center;
}
  
.form-check-input {
    border: solid 2px black;
    text-align: center;
}
  
.from-check-lable {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}
  
.form-input {
    padding: 10px;
}
  
.form-check {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.5px;
}
  
.display-count{
    text-align: center;
}
  
.submit-form {
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}
  
#content-label {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#category {
    padding: 10px;
    position: relative;
    display: inline-block;
}

.choosreCategory {
    float: left;
}

#cat {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.submit-button {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*All Posts bit*/

#username {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    line-height: 30px;
}

.allPosts_check {
    text-align: center;
    font-size: 25px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

#postsH2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 25px;
    font-size: 30px;
    font-weight: 400;
    padding: 5px;
}
 
.sort-categories {
    margin: 10px;
    padding: 10px;
    columns: 2;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: auto;
}

#posts {
    display: flex;
    align-content: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

 .allPosts {
    width: fit-content;
    height: fit-content;
    margin: 15px;
    padding: 15px;
    position: absolute;
    overflow-y: auto;
    border: solid 2px black;
    background-color: #dfdfdf;
    text-align: center;
}

.content-post {
    /* border: solid 2px black; */
    padding: 10px;
    margin: 10px;
}
