/*Single Post Page */

.singlePostSection {
    margin: 10px;
}

.content_information {
    padding: 10px;
    border: solid 2px rgb(88, 88, 88);
}

#main_content {
    background-color: #dfdfdf;
    padding: 10px;
    margin: 10px;
    border: solid 2px rgb(252, 251, 251);
}

#creator_name {
    text-decoration: underline;
    width: fit-content;
    height: 35px;
    font-weight: 200;
    font-size: 20px;
}

#content_label {
    text-align: center;
    padding: 10px;
}

#post_content {
    position: relative;
    text-align: center;
    border-top: solid 2px rgb(101, 88, 88);
    padding: 10px;
}

.timeCreated {
    text-decoration: underline;
    font-weight: 150;
    font-size: 15px;
}

/*Likes and Dislikes*/

.reactions {
    padding: 10px;
    display: flex;
    align-content: space-between;
    justify-content: center;
}

.likes, .dislikes {
    text-align: center;
    margin: 10px;
}

.reaction_buttons {
    margin: 10px;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

/*Comment*/

.comments {
    margin: 10px;
    width: 1005;
    height: 505;
}

.commentInfo {
    background-color: #dfdfdf;
    padding: 10px;
    margin: 10px;
    border: solid 2px rgb(95, 94, 94);
}   

#commenterName {
    text-align: center;
    text-decoration: underline;
    font-weight: 200;
    font-size: 20px;
}

#comment_content {
    margin: 10px;
    border: solid 2px rgb(88, 88, 88);
}

#commentTime {
    text-decoration: underline;
    font-weight: 150;
    font-size: 15px;
}

/*Create Comment*/

.createComment {
    width: fit-content;
    margin: 10px;
    padding: 10px;
    border: solid 2px rgb(85, 84, 84);
}

.commentText {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

#comment {
    padding: 10px;
    margin: 10px;
    width: fit-content;
    height: fit-content;
}

#comment_button {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    text-align: center;
    width: fit-content;
    height: fit-content;
}
