<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="data:,">
  <title>FORUM</title>
  <link rel="icon" type="image/x-icon" href="https://perishablepress.com/wp/wp-content/images/2021/favicon-standard.png">
</head>
<body>
<main>
    <div class="allPosts_check"> 
      {{if .Loggedin}}
      <p id="username">{{.UserName}}</p>
      <br>
      {{end}}
      <br>        
      {{if .ErrorMessage}}
      {{.ErrorMessage}}
      {{end}}
    </div>
      <h2 id="postsH2">Feel Free To Check Out Any And All Categories And Posts:</h2>
      <section>
      <br>
      <h2>Sort By Categories</h2>
      <div class="sort-categories">
        {{range $cat := .Categories}}
        <label class="label-category">
          <input class="categories" type="checkbox" category="{{$cat.Topic}}">
          {{$cat.Topic}}
        </label>
          {{end}}
        </div>
        <br>
        <div class="allPosts" id="posts">
          {{range $post := .Posts}}
          <div class="content-post" categories="{{$post.Topic}}">
            <a id="{{$post.PostId}}" href="/all_posts/{{$post.PostId}}">{{$post.Label}}</a>
            <p class="posts">{{$post.Content}}</p>
          </div>
          {{end}}
        </div> 
    </section>
</main>
<script>
  let categoriesPosts = [];
  let likedPosts = [];
  let dislikedPosts = [];
  let createdPosts = [];
  let allFiltersArr = [categoriesPosts, likedPosts, dislikedPosts, createdPosts];

  function ShowPostsByFilter() { 
    ConnectArrays()
    $("#posts div").hide();

    if (categoriesPosts.length == 0 && likedPosts.length == 0 && dislikedPosts.length == 0 && createdPosts.length == 0 && ($('input:checked').length) == 0) {
      $("#posts div").show();
    } else {
      for (i = 0; i < allFiltersArr.length; i++) {
      $(allFiltersArr[i]).show();
      }
    }
  }

  $(document).ready(function () {
    let username = ""
      if (document.getElementById("account-element") != null) {
        username = document.getElementById("account-element").getAttribute("username")
      }

    // Category filter section
    $('div.sort-categories').delegate('input:checkbox', 'change', function () {
    categoriesPosts = ClearArr();

    var selector = $('input:checked').map(function () {
      return $(this).attr('category');
    }).get();

    function FilterCategories(elem) {
      var elemCats = elem.attr('categories');

      if (elemCats) {
        elemCats = elemCats.split(';');
      } else {
        elemCats = Array();
      }

      for (var i = 0; i < selector.length; i++) {
        if (jQuery.inArray(selector[i], elemCats) != -1) {
          return true;
        }
      }
      return false;
    }
    
    $('.allPosts > div').each(function (i, elem) {
      if (FilterCategories(jQuery(elem))) {
        AppendElementToArr(categoriesPosts, elem)
      }
    });

    ShowPostsByFilter();
    }).find('input:checkbox').change();
  });

  function FindPosts(data, value, arr) {
    $('.allPosts > div').each(function (i, elem) {
      if ($(elem).data(data) == value) {
        AppendElementToArr(arr, elem)
      }
    });
  }

  function ClearArr() {
    return [];
  }

  function ConnectArrays() {
    allFiltersArr = [categoriesPosts, likedPosts, dislikedPosts, createdPosts];
  }

  function AppendElementToArr(arr, element) {
    for (i = 0; i < arr.length; i++) {
      if (arr[i] == element) {
        return
      }
    }
    arr.push(element)
  }

</script>
</body>
</html>
