<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/main.css">
<title>FORUM</title>
<link rel="icon" type="image/x-icon" href="https://perishablepress.com/wp/wp-content/images/2021/favicon-standard.png">
</head>
<body>
    <br>
    <main>
        <div class="error-center">
            <h3 id="error_code">{{.ErrorNum}}</h3>
            <br>
            <h3 id="error_message">{{.ErrorMessage}}</h3>
            <br>
            <p class="error_p"><strong>Oh no! Looks like you messed something up</strong></p>
            <br>
            <div class=" error_button">
                <button onclick="window.location.href='/'" id="back_button">
                    Go back
                </button>
            </div>
        </div>
    </main>
    {{template "footer"}}    
</body>
</html>
