<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="https://perishablepress.com/wp/wp-content/images/2021/favicon-standard.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/log_register.css">
    <title>FORUM</title>
</head>
<body>
    <div class="login-wrap">
      <div class="login-section" style="background-color: white;">
        <h1 class="login-header">Login</h1>
        {{if .LoginErr}}
        <p>{{.LoginErr}}</p>
        {{end}}
        <form method="post" id="login-form" class="login-form">
          <p class="form-element">
            <label for="userName">Username:</label>
            <input type="text" id="userName" name="userName" minlength="4" maxlength="20" value="" required>
          </p>
         {{if .PassErr}}
         <p>{{.PassErr}}</p>
         {{end}}
          <p class="form-element">
            <label for="pass">Password:</label>
            <input type="password" id="pass" name="password" value="" required>
          </p>
          <button class="login-button" type="submit" from="login-form" value="Submit">Login</button>
          <button class="login-button" type="submit" from="login-form" value="Submit"><a href="/" style="text-decoration: none; color: black;">Close</a></button>
        </form>
      </div>
    </div>
</body>
</html>