<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="https://perishablepress.com/wp/wp-content/images/2021/favicon-standard.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/posts.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/log_register.css">
    <title>FORUM</title>
</head>
<body>
    {{if .AlertMessage}}
    <p>{{.AlertMessage}}</p>
    {{end}}
    {{if .LoggedIn}}
    <h5>Your Posts:</h5>
    {{range .AllUserPosts}}
    <div class="main-posts">
        <a class="main-a" href="http://localhost:8080/all_posts/{{.PostId}}">{{.Label}}:</a>
        <h6 class="main-p">{{.Content}}</h6>
    </div>
    {{end}}
    <div class="break-line"></div>
    <h5>Your Reactions:</h5>
    {{range .AllReactions}}
    <div class="main-posts">
        <a class="main-a" href="http://localhost:8080/all_posts/{{.PostId}}">{{.Label}}:</a>
        <h6 class="main-p">{{.Content}}</h6>
    </div>
    {{end}}
    {{end}}
    <div class="break-line"></div>
    <main class="main-template">
        <div id="main_text">
            <h2>Welcome to the FORUM!</h2>
            <blockquote>
                <strong>Thank you for visting the FORUM! Look around and register to join the conversation.</strong>
            </blockquote>
        </div>
    </main>
    {{template "footer"}}
</body>
</html>