<main>
    <section class="post-section">
        {{if .PostSuccess}}
            <p class="error_p">{{.SuccessMessage}}</p>
            {{end}}
        <form method="post">
            {{if .TitleError}}
            <p class="error_p">{{.TitleError}}</p>
            {{end}}
            <div class="mb-3 title">
                <label class="post-form-title" for="title">Title:</label><br>
                <div class="input-group">
                <input type="text" id="title" name="title" cols="45" maxlength="35" required rows="4"><br>
            </div>
        </div>
        {{if .ContentError}}
        <p class="error_p">{{.ContentError}}</p>
        {{end}}
        <div class="form-input">
            <label id="content-label" for="content-label">Content:&nbsp;</label>
            <label for="content" class="post-form-label">Character count:&nbsp;<span id="display_count"></span> &nbsp;/ 2000</label>
            <textarea required type="text" id="content" name="content" cols="50" maxlength="2000"></textarea><br>
            <!-- <input required type="text" id="content" name="content"><br> -->
        </div>
        {{if .CategoryError}}
        <p class="error_p">{{.CategoryError}}</p>
        {{end}}
        <label for="category"> Choose a Category:</label>
            {{range $cat := .Categories}}
            <div class="chooseCategory">
                <input type="checkbox" id="category-{{$cat.Id}}" name="category" value="{{$cat.Topic}}">
                <label for="category-{{$cat.Id}}">{{$cat.Topic}}</label><br>
            </div>
            {{end}}
        <form action="/all_posts" method="post">
            <div class="submit-button">
                <button type="submit" class="submit-form ">Create Post</button>
            </div>
        </form>
    </form>
    </section>
</main>  
<script>

let checkboxes = document.querySelector('input[type:checkbox]:checked');

if (checkboxes.length == 0) {
    console.log("One need to be filled/checked!!!");
}

        (() => {
        const counter = (() => {
          const input = document.getElementById('content'),
            display = document.getElementById('display_count'),
            changeEvent = (evt) => display.innerHTML = evt.target.value.length,
            getInput = () => input.value,
            countEvent = () => input.addEventListener('keyup', changeEvent),
            init = () => countEvent();
        
          return {
            init: init
          }
        
        })();
        
        counter.init();
        
        })();
</script>