<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="https://perishablepress.com/wp/wp-content/images/2021/favicon-standard.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <!-- <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="css/posts.css"> -->
    <link rel="stylesheet" href="/css/log_register.css">
    <title>FORUM</title>
</head>
<body>
    <div class="registration-wrap">
        <div class="registration-section" style="background-color: white;">
          <h1 class="registration-header">Registration</h1>
          <form method="post" id="registration-form" class="registration-form">
            <p class="form-element">
              {{if .NameErr}}
              <p>{{.NameErr}}</p>
              {{end}}
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" value="" minlength="4" maxlength="20" required>
            </p>
            {{if .EmailErr}}
              <p>{{.EmailErr}}</p>
              {{end}}
            <p class="form-element">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" value="" minlength="4" maxlength="20"  required>
            </p>
            <p class="form-element">
              <label for="pass">Password:</label>
              <input type="password" id="pass" name="password" value="" minlength="6" maxlength="20" required><br>
            </p>
            <button class="register-button" type="submit" from="registration-form" value="Submit">Register</button>
            <button class="login-button" type="submit" from="login-form" value="Submit"><a href="/" style="text-decoration: none; color: black;">Close</a></button>
          </form>
        </div>
      </div>
</body>
</html>