<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="https://perishablepress.com/wp/wp-content/images/2021/favicon-standard.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="icon" href="data:,">
    <title>FORUM</title>
</head>
<body>
<section class="singlePostSection">
    <div class="error_center">
        {{if .ErrorMessage}}
        <p class="error_p">{{.ErrorMessage}}</p>
        {{end}}
    </div>
    <div class="content_information">
        <div id="main_content">
            <h3 id="creator_name">{{.Post.Creator}}</h3>
            <p id="content_label">{{.Post.Label}}</p>
            <p id="post_content">{{.Post.Content}}</p>
            <em id="timeCreated">{{.Post.Created}}</em>
        </div>
        <div class="reactions">
            <p class="likes">{{.Post.Likes}}</p>
             <form method="post">
                <input type="hidden" name="rating" value="posts_ratings-likes-{{.Post.PostId}}">
                <input class="reaction_buttons" type="submit" value="Like">
            </form>
            <p class="dislikes">{{.Post.Dislikes}}</p>
            <form method="post">
                <input type="hidden" name="rating" value="posts_ratings-dislikes-{{.Post.PostId}}">
                <input class="reaction_buttons" type="submit" value="Dislike">
            </form>
        </div>
    </div>
    <div class="comments">
        {{range $com := .Comments}}
        <div class="comment{{$com.Id}} commentInfo" id="{{$com.Id}}">
            <p id="commenterName">{{$com.Creator}}</p>
            <p id="comment_content">{{$com.Content}}</p>
            <p id="commentTime">{{$com.CreationDate}}</p>
        </div>
        <br>
        <div class="reactions">
            <p class="likes">{{$com.Likes}}</p>
            <form method="post">
                <input type="hidden" name="rating" value="comments_ratings-likes-{{$com.Id}}">
                <input class="reaction_buttons" type="submit" value="Like">
            </form>
            <p class="dislikes">{{$com.Dislikes}}</p>
            <form method="post">
                <input type="hidden" name="rating" value="comments_ratings-dislikes-{{$com.Id}}">
                <input class="reaction_buttons" type="submit" value="Dislike">
            </form>
        </div>
        {{end}}
    </div>
    {{if .LoggedIn}}
    <div class="createComment">
        <form method="post">
            <label class="commentText" for="comment">Write Comment:</label><br>
            <textarea type="text" rows="5" cols="45" id="comment" maxlength="700" minlength="4" name="comment"></textarea>
            <button id="comment_button" type="submit" value="Submit">Submit</button>
        </form>
    </div>
    {{end}}
</section>    
</body>
</html>